.collection-item {
    width: 22vw;   
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;
    position: relative;
    overflow: hidden;
  
    .image {
      width: 100%;
      height: 95%;     //iamge height is 95% of the item, because 5 % is given to footer for name and price
      background-size: cover;
      background-position: center;
      margin-bottom: 5px;
      
    }

    .custom-button {
      width: 80%;
      opacity: 0.7;
      position: absolute;
      top: 255px ;
      display: none;
    }
      &:hover{

        .custom-button{
          display: flex;
          opacity: 0.85;
        }

        .image {
          opacity: 0.8;
        }
      }
      

    
  
    .collection-footer {
      width: 100%;
      height: 5%;
      display: flex;
      justify-content: space-between;
      font-size: 18px;
  
      .name {
        width: 75%;
        margin-bottom: 15px;
      }
  
      .price {
        width: 25%;
        
      }
    }
  }