.product-page{
  position: relative;

  .image-container {
    position: absolute;
    top: 20px;
    left:20px;
    margin-left: 10px;
    
    .main-image{
      width: auto;
      height: auto;     
    }
  }
  .details-container {
    position: absolute;
    top: 75%;
    left: 52%;
   // transform: translate(-50%, -50%); /* if not,element start from the position told above */
    text-align: center;    /* since button is inline-block element, its treated as text element"*/

    .name{
      font-weight: 100;
      font-size: 70px;
      letter-spacing: 5px;
      //margin-bottom: 5px;
    }

    .price {
      font-weight: 50;
      font-size: 50px;
      letter-spacing: 5px;
      color: #777;

    }



  .button-addToCart{
    margin-bottom: 10px;
    width: 200px;
  }
  .button-buyNow{
    background-color: rgba(214, 57, 18, 0.918);
    width: 200px;
  }

}

}




/*
  h3{
  
    position: absolute;
    left: 450px;
    top: 50px;
    font-weight: 100;
    font-size: 50px;
    letter-spacing: 5px;
    margin-bottom: 10px;
    
  }
  .star-box{
    position: absolute;
    left: 450px;
  }

  h4{
    position: absolute;
    left: 450px;
    top: 100px;
    font-weight: 50;
    font-size: 50px;
    letter-spacing: 5px;

  }*/

